{
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"helpers": false
			}
		]
	],
	"presets": ["@babel/preset-env", "@babel/preset-flow"],
	"env": {
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"node": "current"
						}
					}
				]
			]
		}
	}
}
