{
	"extends": [
		"airbnb-base",
		"prettier",
		"plugin:flowtype/recommended",
		"plugin:jest/recommended"
	],
	"plugins": ["flowtype", "jest", "prettier"],
	"rules": {
		"prettier/prettier": ["error"]
	},
	"settings": {
		"flowtype": {
			"onlyFilesWithFlowAnnotation": true
		}
	}
}
